<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleControl.css') }}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <!-- External JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Local JS -->
    <script src="{{ url_for('static', filename='js/autoScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/modules/plotting.js') }}" defer></script>
</head>

<body>
    <div class="container">
        <div class="left-panel">
            <img src="/static/images/logo.png" alt="Logo" class="logo">
            <div class="button-container">
                <button class="button go-button" onclick="sendCommand('go')">GO</button>
                <button class="button pause-button" onclick="sendCommand('pause')">PAUSE</button>
                <button class="button clear-button" onclick="sendCommand('clear')">CLEAR</button>
            </div>
        </div>
        
        <div class="right-panel">
            <h2>User Inputs:</h2>
            <div class="presets">
                <div class="preset-item"><span>Speed Offset(in/s)</span> <input type="number" id="feedrateOffset"></div>
                <div class="preset-item"><span>Feedrate(in/s)</span> <input type="number" id="feedrate"></div>
            </div>

            <div class="kinematic-states">
                <h2>Kinematic States</h2>
                <div class="kinematic-grid">
                    <div class="kinematic-item" id="rhoCurrPos">
                        <strong>Rho Current Position</strong>
                        <div class="non-editable-box" id="rhoCurrPosVal">0</div>
                    </div>
                    <div class="kinematic-item" id="thetaPos">
                        <strong>Theta Position</strong>
                        <div class="non-editable-box" id="thetaCurrPosVal">0</div>
                    </div>
                    <div class="kinematic-item" id="rhoReqPos">
                        <strong>Rho Requested Position</strong>
                        <div class="non-editable-box" id="rhoReqPosVal">0</div>
                    </div>
                    <div class="kinematic-item" id="thetaReqPos">
                        <strong>Theta Requested Position</strong>
                        <div class="non-editable-box" id="thetaReqPosVal">0</div>
                    </div>
                    <div class="kinematic-item" id="rhoError">
                        <strong>Rho Error</strong>
                        <div class="non-editable-box" id="rhoErrorVal">0</div>
                    </div>
                    <div class="kinematic-item" id="thetaError">
                        <strong>Theta Error</strong>
                        <div class="non-editable-box" id="thetaErrorVal">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <div class="state-indicators-section">
        <h2>Status Indicators</h2>
        <div class="state-indicators">
            <div class="state-item">Status Bar 
                <div class="non-editable-box" id="triggerCountdown">{{ triggerCountdown }}</div>
            </div>
        </div>

        <!-- Active/Stopped Indicator -->
        <div class="centered-indicator">
            <div class="state-item">Activity Status 
                <div class="non-editable-box">
                    <img id="activeStateImg" class="state-icon">
                </div>
            </div>
        </div>
        

    </div>

    <div id="tracking-circle"></div>

    <!-- Links to Other Pages -->
    <a onclick="navigateWithWarning('/auto')" class="controlMode">Automatic Control</a>
    <a onclick="navigateWithWarning('/settings')" class="settingsLink">Settings</a>

</body>
</html>
